@font-face {
  font-family: "cofee_home";
  src: url("./fonts/Coffee Home.ttf");
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
}

.gallery {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

.slide {
  position: relative;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  //   border: 1px solid red;
  z-index: 2;
}
.cta {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  //   height: 100%;
  //   border: 1px solid yellow;
  top: 73%;
  left: 0;
  pointer-events: none;
  p {
    display: inline-flex;
    align-items: center;
    transition: all ease-in-out 1s;
    font: {
      size: 2rem;
    }
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background-color: rgba(white, 0.7);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
  }
  svg{
    animation: wobble 1.8s infinite forwards;
  }
  mix-blend-mode: overlay;

  z-index: 2;
}
.description {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  //   border: 1px solid yellow;
  top: 0;
  left: 0;
  pointer-events: none;
  p {
    padding-bottom: 0rem;
    transition: all ease-in-out 1s;
    font: {
      size: 8rem;
      family: "cofee_home";
    }
    text-transform: capitalize;
    letter-spacing: 0.2rem;
  }
  mix-blend-mode: overlay;
  z-index: 2;
}

.productImg {
  transition: all 1s;
  position: relative;
  width: 100%;
  height: 50%;
  img {
    opacity: 0;
    object-fit: contain;
  }
  filter: drop-shadow(0 0 2rem rgba(black, 0.4));
  z-index: 1;
}

.decorativeBkg {
  position: absolute;
  width: 100%;
  height: 100%;
  img {
    object-fit: cover;
    opacity: 0.3;
    filter: blur(1px);
  }
  z-index: 0;
}

.info {
  position: fixed;
  top: 2rem;
  right: 0rem;
  z-index: 2;
  font: {
    size: 2rem;
  }
  color: black;
  background: white;
  padding: 0.4rem 1rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  mix-blend-mode: overlay;
  text-transform: uppercase;
}

.bckImg {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  //   border: 1px solid yellow;
  top: 0;
  left: 0;
  pointer-events: none;

  background: repeating-radial-gradient(
    circle at 50% 50%,
    rgba(black, 0.1),
    rgba(black, 0.1) 200px,
    rgba(white, 0.1) 200px,
    rgba(white, 0.1) 280px,
    rgba(black, 0.1) 280,
    rgba(black, 0.1) 280px,
    rgba(white, 0.1) 350px,
    rgba(white, 0.1) 390px
  );
  z-index: 1;
}

.imgAnimateIn {
  animation: rollIn 1.2s ease-in-out forwards;
}
.imgAnimateOut {
  animation: rollOut 1s ease-in forwards;
}
@keyframes rollOut {
  0% {
    opacity: 1;
    transform: translateX(0%) rotateZ(0deg);
  }
  100% {
    opacity: 1;
    filter: blur(10px);
    transform: translateX(100%) rotateZ(180deg);
  }
}
@keyframes rollIn {
  0% {
    opacity: 1;
    filter: blur(10px);
    transform: translateX(-100%) rotateZ(-360deg);
  }
  50% {
    opacity: 1;
    filter: unset;
    transform: translateX(50%) rotateZ(180deg);
  }

  100% {
    opacity: 1;
    filter: unset;
    transform: translateX(0%) rotateZ(0deg);
  }
}

@keyframes wobble {
  0%,
  100% {
    transform: translateY(0) rotate(0);

    transform-origin: 50% 50%;
  }
  15% {
    transform: translateY(-10px) rotate(-6deg);
  }
  30% {
    transform: translateY(15px) rotate(6deg);
  }
  45% {
    transform: translateY(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    transform: translateY(-6px) rotate(-1.2deg);
  }
}
