@font-face {
  font-family: "cofee_home";
  src: url("./fonts/Coffee Home.ttf");
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
}

.gallery {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

.slide {
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid red;
}
.description {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  border: 1px solid yellow;
  top: 0;
  left: 0;
  pointer-events: none;
  p {
    padding-bottom: 4rem;
    transition: all ease-in-out 1s;
    font: {
      size: 8rem;
      family: "cofee_home";
    }
    text-transform: capitalize;
    letter-spacing: 0.2rem;
  }
  mix-blend-mode: overlay;
  z-index: 2;
}

.productImg {
  transition: all 1s;
  position: relative;
  width: 100%;
  height: 50%;
  img {
    opacity: 0;
    object-fit: contain;
  }
}

.info {
  position: fixed;
  top: 2rem;
  right: 0rem;
  z-index: 2;
  font: {
    size: 2rem;
  }
  color: black;
  background: white;
  padding: 0.4rem 1rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  mix-blend-mode: overlay;
  text-transform: uppercase;
}

.imgAnimateIn {
  animation: rollIn 1.2s ease-in-out forwards;
}
.imgAnimateOut {
  animation: rollOut 1s ease-in forwards;
}
@keyframes rollOut {
  0% {
    opacity: 1;
    transform: translateX(0%) rotateZ(0deg);
  }
  100% {
    opacity: 1;
    filter: blur(10px);
    transform: translateX(100%) rotateZ(180deg);
  }
}
@keyframes rollIn {
  0% {
    opacity: 1;
    filter: blur(10px);
    transform: translateX(-100%) rotateZ(-360deg);
  }
  50% {
    opacity: 1;
    filter: unset;
    transform: translateX(50%) rotateZ(180deg);
  }

  100% {
    opacity: 1;
    filter: unset;
    transform: translateX(0%) rotateZ(0deg);
  }
}
